/* Color Theme Swatches in Hex */
.color-primary-hex {
    color: #A87558;
}

.color-light-hex {
    color: #FFD1B8;
}

.color-danger-hex {
    color: #F5B998;
}

.color-secondary-hex {
    color: #4DA8A6;
}

.color-infor-hex {
    color: #98F5F3;
}

/* Color Theme Swatches in RGBA */
.color-primary {
    color: rgb(168, 117, 88, 1);
}

.color-light {
    color: rgba(255, 209, 184, 1);
}

.color-danger {
    color: rgba(245, 185, 152, 1);
}

.color-secondary {
    color: rgba(77, 168, 166, 1);
}

.color-infor {
    color: rgba(152, 245, 243, 1);
}

/* Color Theme Swatches in HSLA */
.color-primary-hsla {
    color: hsla(21, 31, 50, 1);
}

.color-light-hsla {
    color: hsla(21, 100, 86, 1);
}

.color-danger-hsla {
    color: hsla(21, 82, 77, 1);
}

.color-secondary-hsla {
    color: hsla(178, 37, 48, 1);
}

.color-infor-hsla {
    color: hsla(178, 82, 77, 1);
}

.background-light{
    background: #FFD1B8;
}

html {
    font-size: 17px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font */
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

/* global */

.btnFunction{
    color:#4DA8A6;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #98F5F3;
    font-weight: 500;
    border-radius: 10px;
    font-size: 20px;
    background-color: #F5B998;
    transition: all .5s;
}
.btnFunction:hover{
    box-shadow: 0 0 10px 10px #98F5F3;
    color: white;
}

.table-container{
    width: 100%;
    overflow: scroll;
}

/* HEADER */
.navbar {
    background-color: #f5b9988a;
    padding: 30px;
    background-image: url(../image/15002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-brand {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 10px rgba(152, 245, 243, 1);
    ;
}

.navbar .logo {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 10px;
    line-height: 50px;
    color: #A87558;
    font-family: 'Alkatra', cursive;
    margin: 0;
    padding: 0;
}

.navbar .descript {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    padding: 0;
}

/* menu bar */
.nav {
    font-size: 1.2rem;
    margin-top: 10px;
    background-color: #FFD1B8;
    border-radius: 10px;
}

.nav button {
    text-align: left;
    width: 250px;
    padding: 20px;
    color:#4DA8A6 !important;
    transition: all .5s;

}
.nav button.active{
    background-color: #A87558 !important;
    color:white !important;
    box-shadow: 0 0 10px 5px #98F5F3;
    font-size: 1.3rem;
    font-weight: 800;
}

.nav button i {
    margin-right: 20px;
}

/* content */
.tab-content {
    
    width: 100%;
    background-color:#f5b9983b;
    min-height: 500px;
    margin-top: 10px;
    background-image: url(../image/Profiling-amico.png);
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 30px 10px;
    
}
/* quản lý nhân viên page */


/* nhập nhân viên page */
.addEmployee form{
    border: 2px solid #98F5F3;
    border-radius: 10px;
    padding: 20px;
}
.employee-box .employee-details{
    width: 45%;
}
.employee-box .employee-detail{
    margin-bottom: 20px;
}
.employee-box .employee-detail label{
    display: block;
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: 600;
    color: #4DA8A6;
}
.employee-box .employee-detail .input{
    width: 100%;
    max-width: 500px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid #98F5F3;
    padding: 10px;
    background: rgba(255, 255, 255, 0.61);
}
.employee-box .employee-detail .input:focus{
    box-shadow: 0 0 20px 0px #98F5F3;
    outline: none;
}

@media screen and (max-width: 786px) {
    .menu-title{
        display: none;
    }
    .nav-link{
        max-width: 70px;
    }
    .nav button i{
        margin-right: 0px;
    }
    #tbInput .employee-box{
        flex-direction: column;
    }
    .employee-details{
        width: 100% !important;
    }
    .tab-content {
    
        width: 100%;
        background-image: none;
        
    }
}

@media screen and (max-width: 600px) {
    body{
        
    }
    #v-pills-tab{
        display: none;
    }

    #tbInput .employee-box{
        flex-direction: column;
    }
    .employee-details{
        width: 100% !important;
    }
    #showMenu button{
        display: block;
    }
    .tab-content {
    
        width: 100%;
        background-image: none;
        
    }
}